body{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
   
   }
   
   /*horloge*/
   .clock2 {
       border-radius: 50%;
       background: #fff;
       border: 5px solid black;
       width: 25%;
       display: flex;
       justify-content: center;
       margin-left: 39%;
       
   }
   
   .wrap {
       position: relative;
       width: 350px;
       height: 350px;
       display: flex;
   
   }
   
   .minute, .heure {
       position: absolute;
       height: 100px; width: 6px;
       margin: auto;
       top: -27%; left: 0;	bottom: 0; right: 0;
       transform-origin: bottom center;
       transform: rotate(0deg);
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
       background: black;
   }
   .minute {
       position: absolute;
       height: 130px;
       width: 4px;
       top: -38%;
       left: 0;
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
       transform: rotate(90deg);
   }
   .seconde {
       position: absolute;
       height: 90px;
       width: 2px;
       margin: auto;
       top: -26%;
       left: 0;
       bottom: 0;
       right: 0;
       border-radius: 4px;
       background: #ff4b3e;
       transform-origin: bottom center;
       transform: rotate(180deg);
   }
   
   .dot {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       width: 12px;
       height: 12px;
       border-radius: 50%;
       background: white;
       border: 2px solid #1b1b1b;
       border-radius: 50%;
       margin: auto;
   }
   
   /*date*/
   
   #party{
      border:5px solid #4F46E5; 
      border-radius: 5px;
      background-color: #4F46E5;
      padding: 8px;
      color : white; 
   }
   
   p{
       font-family: 'Montserrat', sans-serif;
   }
   /*Filter*/
   .searchBar{
       margin-left: 28%;
       width: 50%;
       border: 1px solid #1b1b1b;
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
       border-radius: 5px;
      
   }
   
   #filterDiv{
       margin-left: 38%;
       border: 1px solid #4F46E5;
       --tw-bg-opacity: 1;
       background-color: rgba(255,255,255,var(--tw-bg-opacity));
       border-radius: 5px;
       width: 25%;
       margin-top:3%;
       padding: 1.5rem;
   }
   #filterSpan{
       font-size: 2.25rem;
       line-height: 2.5rem;
       --tw-text-opacity: 1;
       color: rgba(79,70,229,var(--tw-text-opacity));
       font-weight: 500;
   }
   
   img{
       width:8%;
   }
   
   
   